<h2><%= @title.singularize %> #<%= @object.id %></h2>

<div class="display">
  <form action="/<%= @title.downcase %>/<%= @object.id %>/edit">
    <% @object.instance_variables.each do |attribute| %>
      <% if attribute.to_s != "@password" %>
        <% snip = attribute.to_s.delete("@") %>
        <p><%= snip.humanize %>: <%= @object.send(snip) %></p>
      <% end %>
    <% end #object.each %>
    <input type="hidden" value="<%= @object.id %>">
    <input type="submit" value="Edit/Delete">
  </form>
  <form action="/logout">
    <% if @object.is_a?(Patron) && @object.id == @user.id %>
      <input type="submit" value="Logout">
    <% end %>
  </form>
</div>