<h2>Confirm...</h2>

<div class="block1">
  <form action="/save">
    <div class="display_results">
      <input type="hidden" name="table" value="<%= @table %>">
      <% @info.each do |key, value| %>
        <p><%= key %>: <%= value %></p>
        <input type="hidden" name="<%= key %>" value="<%= value %>">
      <% end %>
      <input type="Submit" name="Add this!">
      <input type="button" name="Back" onclick="javascript:history.back()" value="Back">
    </div>
  </form>
</div>
