<h2><%= @title %></h2>

<% @results.each do |object| %>
  <div class="display">
    <form action="/<%= @title.downcase %>/<%= object.id %>">
      <% object.instance_variables.each do |attribute| %>
        <% snip = attribute.to_s.delete("@") %>
        <p><%= snip.humanize %>: <%= object.send(snip) %></p>
        <input type="hidden" name="<%= snip %>" value="<%= object.send(snip) %>">
      <% end #object.each %>
      <input type="submit" value="See this one">
    </form>
  </div>
<% end %>