<h2><%= @title %></h2>

<div class="block1">
  <div class="new_form">
    <form action="/<%= @title.downcase %>/save">
        <% @table.each do |x| %>
        <p><%= "#{x}" %>: <input type="text" name="<%= x %>" value="<%= @object.send(x) %>"><p>
        <% end %>
        <% if @title == "Films" && @object.title == "" %>
          <p><input type="checkbox" name="rt" value="yes">Search using RottenTomatoes</p>
        <% end %>
      <input type="submit" value="Add This">
    </form>
  </div>
</div>