<h2>Delete <%= @title.singularize %> #<%= @object.id %>?</h2>

<div class="display">
  <form action="/<%= @title.downcase %>/<%= @object.id %>/delete">
    <% @object.instance_variables.each do |attribute| %>
      <% snip = attribute.to_s.delete("@") %>
      <p><%= snip %>: <%= @object.send(snip) %></p>
      <input type="hidden" name="<%= snip %>" value="<%= @object.send(snip) %>">
    <% end #object.each %>
    <input type="submit" value="Delete">
  </form>
</div>