<h2>Delete Patron #<%= @object.id %>?</h2>

<div class="display">
  <form action="/patrons/<%= @object.id %>/delete">
    <p>ID: <%= @object.id %></p>
    <p>First Name: <%= @object.first_name %></p>
    <p>Last Name: <%= @object.last_name %></p>
    <p>Username: <%= @object.username %></p>
    <input type="hidden" value="<%= @object.id %>">
    <input type="submit" value="Delete">
  </form>
</div>