<h2>Delete Film #<%= @object.id %>?</h2>

<div class="display">
  <form action="/films/<%= @object.id %>/delete">
    <p>ID: <%= @object.id %></p>
    <p>Title: <%= @object.title %></p>
    <p>Year: <%= @object.year %></p>
    <p>Length: <%= @object.length %></p>
    <p>Plot Synopsis: <%= @object.synopsis %></p>
    <p>Trailer: <%= @object.trailer %></p>
    <p>Rotten/Fresh Rating: <%= @object.rt_rating %></p>
    <input type="hidden" value="<%= @object.id %>">
    <input type="submit" value="Delete">
  </form>
</div>